@model BankOfSimba.Models.BankAccount

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body>
	<div>
		<p>@Model.Name</p>
		<p>@Model.Balance@String.Format(".00") Zebra</p>
		<p>@Model.AnimalType</p>
	</div>
</body>
</html>