body {
    padding-top: 70px;
    padding-bottom: 30px;
}

table {
    background-color: #72AEA1;
    border-style: solid;
    font-weight: bolder;
    padding: 10px;
    text-align: left;
    margin-bottom: 5px;
    color: #146150;
}
