@model GreetSomeone.Models.Name
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
    {
        <p>Your name:</p>
        <p>@Html.TextBoxFor(model => model.User)</p>
        <button type="submit">Submit</button>
    }
</body>
</html>