@model ListingTodos.Models.Todo
<head>
    @{
        Layout = "_Layout";
    }
</head>
<body class="text-left">
    <div class="container-fluid">
        <h1>Edit todo</h1>
        @using (Html.BeginForm("edit", "todo"))
        {
            <input type="hidden" name="Id" value="@Model.Id" />
            <h4>What to do? @Html.TextBoxFor(x => x.Title)</h4>
            <h4>Is it urgent?  @Html.CheckBoxFor(x => x.IsUrgent)</h4>
            <h4>Did you finish? @Html.CheckBoxFor(x => x.IsDone)<br /></h4>
            <button class="btn btn-default" type="submit">Save</button><br />
        }
        <br /><form action="/" method="get"><button class="btn btn-default" type="submit">Cancel</button></form>
    </div>
</body>